### Quandl - Dataset

    Modul Quandl, dengan fungsi get.

In [15]:
#memasukan modul yang digunakan
import pandas as pd
import quandl

import warnings
warnings.filterwarnings("ignore")

In [16]:
#memanggil data
data = quandl.get('WIKI/GOOGL')

In [17]:
#membuka data
data.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2004-08-19,100.01,104.06,95.96,100.335,44659000.0,0.0,1.0,50.159839,52.191109,48.128568,50.322842,44659000.0
2004-08-20,101.01,109.08,100.50,108.310,22834300.0,0.0,1.0,50.661387,54.708881,50.405597,54.322689,22834300.0
2004-08-23,110.76,113.48,109.05,109.400,18256100.0,0.0,1.0,55.551482,56.915693,54.693835,54.869377,18256100.0
2004-08-24,111.24,111.60,103.57,104.870,15247300.0,0.0,1.0,55.792225,55.972783,51.945350,52.597363,15247300.0
2004-08-25,104.76,108.00,103.88,106.000,9188600.0,0.0,1.0,52.542193,54.167209,52.100830,53.164113,9188600.0

In [18]:
#melihat panjang data
len(data)

3424

In [19]:
#membuka data hanya untuk kolom ["Adj. Open", "Adj. High", "Adj. Low", "Adj. Close", "Adj. Volume"]
data = data[["Adj. Open", "Adj. High", "Adj. Low", "Adj. Close", "Adj. Volume"]]
data.head()

            Adj. Open  Adj. High   Adj. Low  Adj. Close  Adj. Volume
Date
2004-08-19  50.159839  52.191109  48.128568   50.322842   44659000.0
2004-08-20  50.661387  54.708881  50.405597   54.322689   22834300.0
2004-08-23  55.551482  56.915693  54.693835   54.869377   18256100.0
2004-08-24  55.792225  55.972783  51.945350   52.597363   15247300.0
2004-08-25  52.542193  54.167209  52.100830   53.164113    9188600.0

In [20]:
#membuat data["HL_PCT"]
data["HL_PCT"] = (data["Adj. High"]-data["Adj. Close"])/data["Adj. Close"]*100
data["HL_PCT"].head()

Date
2004-08-19    3.712563
2004-08-20    0.710922
2004-08-23    3.729433
2004-08-24    6.417469
2004-08-25    1.886792
Name: HL_PCT, dtype: float64

In [21]:
#membuat data["PCT_change"]
data["PCT_change"]= (data["Adj. Close"]-data["Adj. Open"])/data["Adj. Open"]*100
data["PCT_change"].head()

Date
2004-08-19    0.324968
2004-08-20    7.227007
2004-08-23   -1.227880
2004-08-24   -5.726357
2004-08-25    1.183658
Name: PCT_change, dtype: float64

                                    ##Semoga Bermanfaat
                                    ##@Raspiani_